.dashboard-containers-div {
  position: relative;
  width: 100%;
  display: flex;
  height: 100%;

}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background-color: #fefaee;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 20px 30px;
  border: 1px solid rgba(0,0,0,0.1)
}

.dashboard-container.first {
  margin-left: 30px;
  margin-right: 15px;

}

.dashboard-container.second {
  margin-right: 30px;
  margin-left: 15px;
}

.dashboard-container-title {
  font-size: 20px;
}
