.new-routine-template-container-div {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.new-routine-template-container {
  width: 40%;
  border-radius: 20px;
  background-color: #fefaee;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 20px 30px;
  border: 1px solid rgba(0,0,0,0.1);
  margin-right: 30px;
  margin-left: 30px;
}
