.new-routine-template-container-div {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 360px);
}

.new-routine-template-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height:100%;
  border-radius: 20px;
  background-color: #fefaee;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 20px 30px;
  border: 1px solid rgba(0,0,0,0.1)
}

.new-routine-template-container.first {
  margin-left: 30px;
  margin-right: 15px;

}

.new-routine-template-container.second {
  max-height: 100;
  margin-right: 30px;
  margin-left: 15px;
}

.new-routine-template-container > .item {
  padding: 15px;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  transition: all 0.5s;
}

.routine-exercises-container {
  width: 100%;
  overflow-y: scroll;
}

.routine-exercises-container > .item {
  padding: 15px;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  transition: all 0.5s;
  height: auto;
}
