.routine-templates-containers-div {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.routine-templates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 60px);
  margin: 0 30px;
  padding: 30px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  height: 100%;
}

.add-routine-template-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.routine-template-index-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.routine-template-index-icons {
  color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.routine-template-index-icons > i {
  color: rgba(0, 0, 0, 0.5);
}

.routine-template-index-icons > i:hover {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.routine-templates-container-title {
  font-size: 20px;
}

.routine-templates-container > .item {
  padding: 15px;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  transition: all 0.5s;
  height: auto;
}

.item-description {
  display: none;
  width: 100%;
  height: 0;
  transition: all 0.5s;
  opacity: 0;
}

.item:hover .item-description {
  display: flex;
  transition: all 0.5s;
  opacity: 1;
  font-size: 16px;
  padding-top: 10px;
  height: auto;
}

.item:hover .fa-caret-down {
  transform: rotate(180deg);
}
