<div class="footer">

  <ul class="footer-items">
    <li class="footer-item">Item 1</li>
    <li class="footer-item">Item 2</li>
    <li class="footer-item">Item 3</li>
  </ul>

  <%= link_to root_path do %>
    <div class="logo">
      PracticeBook
    </div>
  <% end %>

  <ul class="footer-items">
    <li class="footer-item">Item 1</li>
    <li class="footer-item">Item 2</li>
    <li class="footer-item">Item 3</li>
  </ul>
</div>
