<div class="navbar">
  <ul class="navbar-item">
    <li class="navbar-item">Item 1</li>
    <li class="navbar-item">Item 2</li>
    <li class="navbar-item">Item 3</li>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Home", "#", class: "navbar-item" %>
      </li>
      <li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-item" %>
      </li>
    <% else %>
      <li>
        <%= link_to "Login", new_user_session_path, class: "navbar-item" %>
      </li>
    <% end %>
  </ul>
</div>
