<div class="heading-div">
  <div class="page-title">
    DASHBOARD
  </div>
</div>

<div class="dashboard-containers-div">
  <div class="dashboard-container first">
    <div class="heading-div">
      <div class="dashboard-container-title">
        Exercises
      </div>
    </div>
  </div>

  <div class="dashboard-container second">
    <div class="heading-div">
      <div class="dashboard-container-title">
        Something else
      </div>
    </div>
  </div>
</div>
