<div class="heading-div">
  <div class="page-title">
    DASHBOARD
  </div>
</div>

<div class="dashboard-containers-div">
  <div class="dashboard-container first">
    Dashboard
  </div>

  <div class="dashboard-container second">
    Dashboard
  </div>
</div>
