<div class="heading-div">
  <div class="page-title">
    DASHBOARD
  </div>
</div>

<div class="dashboard-containers-div">
  <div class="dashboard-container first">
    <div class="heading-div">
      <div class="dashboard-container-title">
        Exercises
      </div>
    </div>
    <%= link_to exercises_path do %>
      <div class="primary-button exercise-index">
        <h6>My exercises</h6>
      </div>
    <% end %>
  </div>

  <div class="dashboard-container second">
    <div class="heading-div">
      <div class="dashboard-container-title">
        Routines
      </div>
    </div>
    <%= link_to routine_templates_path do %>
      <div class="primary-button exercise-index">
        <h6>My routines</h6>
      </div>
    <% end %>
  </div>
</div>
