<div class="home-title-card">

  <h1 class="home-title">PracticeBook</h1>

  <h5 class="home-phrase">...because you know you should practice more</h5>

  <%= link_to dashboard_path do %>
    <div class="home-page-button">
      <h6>DO IT NOW</h6>
    </div>
  <% end %>

</div>
