.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid rgb(155, 201, 155);
  background: linear-gradient(rgb(113, 189, 113), rgb(88, 156, 88));
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: white;
  text-align: center;
}

.primary-button:hover {
  cursor: pointer;
}

.primary-button.wide {
  width: 300px;
}


.exercises-index.primary-button {
  height: 60px;
}

.routine-templates-index.primary-button {
  height: 60px;
  width: 250px;
}

.add-exercise-div {
  width: calc(100% - 30px);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1)
}
