.footer {
  width: calc(100% - 50px);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin: 0 25px;
  border-radius:  0 0 20px 20px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.footer-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  font-size: 40px;
}
