.modal-div {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, 0.5);
  z-index: 1;
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opacity-1 {
  transition: opacity 0.5s;
  opacity: 1;
}
