<div class="heading-div">
  <div class="page-title">
    MY EXERCISES
  </div>


</div>

<div class="exercises-containers-div">
  <div class="exercises-container first">
    <div class="add-exercise-div">
      <%= link_to new_exercise_path do %>
        <div class="exercises-index primary-button">
          <h6>Add an exercise</h6>
        </div>
      <% end %>
    </div>

    <% @exercises.reverse.each do |exercise| %>
      <div class="item">
        <%= exercise.name %>
          <div class="item-description">
            <%= exercise.description %>
          </div>
      </div>
    <% end %>
  </div>

  <div class="exercises-container second">
    <div class="heading-div">
      <div class="exercises-container-title">
        Maybe add new exercise partial?
      </div>
    </div>
  </div>
</div>
